.nvb-ct {
  -webkit-box-align: center;
  align-items: center;
  background: white;
  display: flex;
  height: 72px;
  position: fixed;
  top: 0;
  transition: background 250ms ease-out;
  width: 100vw;
  z-index: 2;
}
.nvb-out {
  display: flex;
  flex-direction: row;
  -webkit-box-pack: center;
  justify-content: center;
  width: 100%;
}

.nvb-mid {
  display: flex;
  flex-direction: row;
  -webkit-box-pack: justify;
  justify-content: space-between;
  height: 100%;
  width: 100vw;
}
.nvb-log-btn {
  font-weight: 500;
  text-decoration: none;
  -webkit-box-align: center;
  align-items: center;
  color: black;
  display: flex;
  justify-content: space-between;
  text-decoration-color: black;
  text-decoration-style: solid;
  -webkit-box-pack: justify;
  height: 48px;
  width: 154px;
  font-family: "Lato", sans-serif;
  padding-left: 10px;
}

.nvb-log-btn:hover {
  color: rgb(32, 194, 132);
  text-decoration: underline;
}

.nvb-log-btn:hover .nvb-log-out {
  color: rgb(32, 194, 132);
  text-decoration: underline;
}
.nvb-log-out {
  -webkit-box-align: center;
  align-items: center;
  color: black;
  display: flex;
  fill: black;
  -webkit-box-pack: justify;
  justify-content: space-between;
  margin-right: 48px;
  transition: fill 200ms ease-out;
}

.log-n {
  color: currentColor;
  font-size: 20px;
  font-weight: 400px;
  margin-left: 5px;
  letter-spacing: -0.97;
}

.lft-cont {
  display: flex;
  -webkit-box-flex: 1;
  flex-grow: 1;
  height: 100%;
}

.pst-nvb-ct {
  position: relative;
  width: 100%;
  height: 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  .logo {
    width: 25px;
    height: 35px;
    padding-top: 10px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 48px;
    
  }
}


.pst-nvb-ct-mid{
    margin: 0 auto;
  height: 64px;
  width: 1024px;
  display: flex;
  align-items: center;
}
.navbar{
  width: 100%;
  z-index: 1;
} 

.header-button{
      padding-right: 25px;
      width: 150px;
    font-size: large;
    padding-top: 10px
}